header {
  position: fixed;
  width: 100%;
  & nav {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 8px auto;
    & #nav {
      flex-grow: 1;
      display: flex;
      justify-content: space-around;
      & ul {
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        & li {
          & i.icon-header {
            display: none;
          }
        }
      }
    }
    & i#toggle-nav {
      display: none;
    }
  }
}

@media only screen and (max-width: 1280px) {
  header {
    & nav {
      margin: 8px;
    }
  }
}

// INFO: partie tablette
@media only screen and (max-width: 600px) {
  header {
    & nav {
      & #nav {
        position: fixed;
        right: 10px;
        top: 50%;
        padding: 8px;
        transform: translate(100vw, -50%);
        transition: transform 0.5s;
        // background-color: grey;
        display: flex;
        flex-direction: column;
        width: 50vw;
        max-width: 200px;
        min-height: 50vh;
        border-radius: 8px;
        height: 80%;
        & i#theme-toggler {
          cursor: pointer;
          position: absolute;
          top: 8px;
          right: 8px;
        }
        & ul {
          flex-direction: column;
          width: fit-content;
          & li {
            display: flex;
            align-items: center;
            & i.icon-header {
              display: block;
              margin-right: 1rem;
            }
            & a {
              display: flex;
              width: fit-content;
              padding: 8px 0;
            }
          }
        }
      }
      & #nav.mobile {
        transform: translate(0, -50%);
      }
      & i#toggle-nav {
        display: block;
        font-size: 20px;
      }
    }
  }
}

// INFO: partie mobile
@media only screen and (max-width: 400px) {
}
